

<section class="main-section">
    <h1>Portfolio</h1>

    <div class="work">
        <%=link_to image_tag("greenboots.jpeg", border: 0), "https://greenboots.herokuapp.com/" %>  
        <h3>Greenboots</h3>
    </div>

    <div class="work">      
            <%=link_to image_tag("pMemory.jpeg", border: 0), "https://jolly-jackson-7f1733.netlify.com/"%>
            <h3>Picture Your Memory</h3>
    </div>

    <div class="work">      
            <%=link_to image_tag("guitar_lessons.png", border: 0), "https://mighty-scrubland-59906.herokuapp.com/" %>
            <h3>Guitar Lessons</h3>
    </div>

    <div class="work">      
            <%=link_to image_tag("weiwen.png", border: 0), "http://www.weiwenma.com/" %>
            <h3>Weiwen's Site</h3>
    </div>

    <div class="work">      
            <%=link_to image_tag("guitar_rails.png", border: 0), "https://murmuring-beach-10736.herokuapp.com/" %>
            <h3>Self Page</h3>
    </div>

    <div class="work">      
            <%=link_to image_tag("hot_rest.png", border: 0), "https://floating-harbor-12533.herokuapp.com/" %>
            <h3>Hot Restaurant(node)</h3>
    </div>

    <div class="work">      
        <%=link_to image_tag("guitar_triv.png", border: 0), "https://guitarlanguage.github.io/triviaGame/" %>
        <h3>Guitar Trivia</h3>
    </div>

    <div class="work">      
            <%=link_to image_tag("ins_adv.png", border: 0), "https://quiet-harbor-74702.herokuapp.com/" %>
            <h3>Insurance Advisor</h3>
    </div>



    <!--<div class="work">          
        <%=link_to image_tag("nhlScrape.jpeg", border: 0), "https://mongggo-scrape.herokuapp.com/"%>
        <h3>NHL Scrap'n The Ice</h3>
    </div>-->

    <div class="work">      
        <%=link_to image_tag("galacticFish.jpeg", border: 0), "https://guitarlanguage.github.io/GalacticFish/"%>
        <h3>Galactic Fish</h3>
    </div>

    <div class="work">
        <%=link_to image_tag("burger640.jpeg", border: 0), "https://safe-depths-69458.herokuapp.com/"%>
        <h3>Burger Mania</h3>
    </div>

    <!--<div class="work">
            <%=link_to image_tag("ccb640.jpeg", border: 0),"https://ccbcstatistics.herokuapp.com/"%>
            <h3>CCBC Statistics</h3>    
    </div>-->

</section>

	